#maincalculator{
  width: 100%;
  }

  *{
    font-size: 24px;
    font-weight: lighter;
  }

  #calculatorlayout{
    background: green;
    width: 400px;
    height: inherit;
    color: white;
    border: 10px solid grey;
    font-family: sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
  }

  #display{
    color: inherit;
    width: 250px;
    height: 50px;
    border: none;
    text-align: right;
    background-color: inherit;
  }

  tr, th, td{
  padding: 0;
  border: 1px solid white;
  width: 25%;

}

.row1{
  width: 100%;
}

button{
  border: none;
  background-color: inherit;
  color: inherit;
  width: 100%;
  height: 100px;
  line-height: inherit;
  margin: 0 auto;
}


.number:active{
  color: white;
}

.operator:active{
  color: white;
}

#clear:active{
  color: grey;
}
